.div1{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}
.div2
{
    background-color: hsl(217, 19%, 35%) ;
    color: hsl(0, 0%, 100%);
}
.div3{
    background-color: hsl(0, 0%, 100%);
}